@use 'styles/abstracts/variables' as *;
@use 'styles/abstracts/helpers' as *;
@use 'styles/layout/grid' as *;
@use 'styles/layout/header' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    color: $primary-color;
    font-family: $font-family-base;
    background-color: $white-color;
}
