@use '../abstracts/variables' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white-color;
    padding: 22px 0;
    z-index: 9999;
    box-shadow: $box-shadow;

    .logo {
       font-weight: $font-600; 
    }
}